# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [50]:
!pip install -U scipy

Requirement already satisfied: scipy in /Users/yunlingge/opt/anaconda3/lib/python3.9/site-packages (1.9.1)
Collecting scipy
  Using cached scipy-1.10.0-cp39-cp39-macosx_10_15_x86_64.whl (35.2 MB)
Requirement already satisfied: numpy<1.27.0,>=1.19.5 in /Users/yunlingge/opt/anaconda3/lib/python3.9/site-packages (from scipy) (1.21.5)
Installing collected packages: scipy
  Attempting uninstall: scipy
    Found existing installation: scipy 1.9.1
    Uninstalling scipy-1.9.1:
      Successfully uninstalled scipy-1.9.1
Successfully installed scipy-1.10.0

In [2]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:
salaries = pd.read_csv('/Users/yunlingge/Documents/Ironhack/Week_4/Day_3/Afternoon/lab-Hypothesis-Testing/data/Salaries.csv')

/var/folders/vm/q28pb78130n5_lnd8k2t837h0000gn/T/ipykernel_40031/1459237829.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  salaries = pd.read_csv('/Users/yunlingge/Documents/Ironhack/Week_4/Day_3/Afternoon/lab-Hypothesis-Testing/data/Salaries.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:

In [5]:
salaries.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
salaries2 = salaries.copy()

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [7]:
# Your code here:

In [8]:
salaries2.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [9]:
# Your code here

In [10]:
salaries2.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [11]:
# Your code here

In [12]:
salaries2 = salaries2.drop('Notes', axis =1)

In [13]:
salaries2.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,San Francisco,NaN

In [14]:
salaries2.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [15]:
# Your code here
salaries2['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [16]:
# Your code here
salaries2 = salaries2.dropna(subset='Status', axis =0)

In [17]:
salaries2

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
110531,110532,David Shinn,Deputy Chief 3,129150.01,0.0,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
110532,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
110533,110534,William J Coaker Jr.,Chief Investment Officer,257340.0,0.0,82313.7,96570.66,339653.70,436224.36,2014,San Francisco,PT
110534,110535,Gregory P Suhr,Chief of Police,307450.04,0.0,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
110535,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.0,0.0,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT
...,...,...,...,...,...,...,...,...,...,...,...,...
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

In [18]:
# Your code here

In [19]:
salaries2.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [20]:
# Your code here
salaries2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

Do any type conversions and reset the index.

In [21]:
# Your code here
#BasePay OvertimePay OtherPay  Benefits should be numerical insteand of object.
convert_dict = {'BasePay': float,
                'OvertimePay': float,
                'OtherPay':float,
                'Benefits':float
                }
salaries2 = salaries2.astype(convert_dict)

In [22]:
salaries2.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Agency               object
Status               object
dtype: object

In [23]:
salaries2 = salaries2.reset_index(drop = True)

In [24]:
salaries2.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [25]:
# Your code here
salaries2['TotalPayBenefits'] == salaries2['BasePay']+salaries2[ "OvertimePay"]+salaries2['OtherPay']+salaries2['Benefits']

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

In [42]:
salaries['TotalPayBenefits']

0         567595.43
1         538909.28
2         335279.91
3         332343.61
4         326373.19
            ...
148649         0.00
148650         0.00
148651         0.00
148652         0.00
148653      -618.13
Name: TotalPayBenefits, Length: 148654, dtype: float64

What is the percetage of employees for which the previous assumption is not True?

In [26]:
# Your code here:
equality = (salaries2['TotalPayBenefits'] == salaries2['BasePay']+salaries2[ "OvertimePay"]+salaries2['OtherPay']+salaries2['Benefits'])

In [27]:
equality.value_counts()

True     28097
False    10022
dtype: int64

In [28]:
# the percentage of employees for not True is around 26%.
equality.value_counts(normalize=True).round(2).mul(100).astype(str)+'%'

True     74.0%
False    26.0%
dtype: object

There are different departments in the city. List all departments and the count of employees in each department.

In [29]:
# Your code here:
salaries2.groupby('JobTitle')['Id'].count().reset_index(name='Empolyee')

                           JobTitle  Empolyee
0       ACPO,JuvP, Juv Prob (SFERS)         1
1      ASR Senior Office Specialist        22
2              ASR-Office Assistant        15
3                     Account Clerk        93
4                      Accountant I         2
..                              ...       ...
991      Wire Rope Cable Maint Sprv         1
992      Worker's Comp Supervisor 1         6
993  Worker's Compensation Adjuster        26
994           X-Ray Laboratory Aide        35
995              Youth Comm Advisor         1

[996 rows x 2 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [30]:
# Your code here: (compute the "Hourly_Wage")

In [31]:
salaries2['HourlyWage'] = round(salaries2['TotalPayBenefits']/(50*40),2)
salaries2.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,HourlyWage
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.37
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.83
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.11
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.01
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.72

In [32]:
# Your code here: (Compute the mean hourly wage for all the "FT" employees)

In [33]:
salaries2['Status'].unique()

array(['PT', 'FT'], dtype=object)

In [34]:
#method1
mean_ft = salaries2.loc[salaries2['Status']=='FT','HourlyWage'].mean()
mean_ft

69.26420838183931

In [36]:
# method2
ftptwage = salaries2.groupby('Status')['HourlyWage'].sum().reset_index()
ftptwage

  Status  HourlyWage
0     FT  1546946.83
1     PT   363986.13

In [37]:
num= salaries2.groupby('Status')['Id'].count().reset_index()
num

  Status     Id
0     FT  22334
1     PT  15785

In [38]:
mean_ft= ftptwage.iloc[0,1]/num.iloc[0,1]
mean_ft

69.26420838183935

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees

In [39]:
# generate a dataframe only containing FT HourlyWage
ftwage = salaries2.loc[salaries2['Status']=='FT','HourlyWage']
ftwage

1        239.83
3        209.01
4        208.72
5        207.88
6        200.54
          ...
28535     22.34
28824     20.83
28873     20.60
29324     18.34
29794     15.99
Name: HourlyWage, Length: 22334, dtype: float64

In [40]:
from scipy.stats import sem
std_error = sem(ftwage)
t = (mean_ft-75)/std_error
t

-35.8063382654683

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [44]:
salaries2['Status'].value_counts(dropna=False)

FT    22334
PT    15785
Name: Status, dtype: int64

In [45]:
#scipy.stats.t.ppf(q, df) #q: The critical level to use.
from scipy.stats import t
t.ppf(0.025,22333)

-1.9600702128845597

In [46]:
t.ppf((1-0.025),22333)

1.9600702128845593

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [83]:
t.cdf(-35.8063382654683,22333)

2.2574730107625624e-273

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [52]:
from scipy.stats import ttest_1samp
ttest_1samp(ftwage,75)

Ttest_1sampResult(statistic=-35.806338265468305, pvalue=4.5149460215251256e-273)

Are all the methods in agreement?

In [ ]:
#Yes, we reject H0 in all three methods.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees

In [73]:
police=salaries2[salaries2['JobTitle'].str.contains('Police')]
salary_police = police['TotalPayBenefits']
mean_police = salary_police.mean()
std_error_police=sem(salary_police)
t_police=(mean_police -86000)/std_error_police
t_police

50.2529847421099

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [74]:
mean_police

148349.04212519721

In [75]:
salary_police.shape

(1901,)

In [77]:
t.ppf((1-0.05),1900)

1.6456560042647304

In [ ]:
# since t_police > critical value, we reject H0,the salary is higher than last year.

In [ ]:
# Method 2: Use the p-value method.
# Your code here:

In [81]:
1-t.cdf(50.2529847421099,1900)

0.0

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [79]:
ttest_1samp(salary_police,86000)

Ttest_1sampResult(statistic=50.252984742109945, pvalue=0.0)

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here: (Get the department which has most employees)

In [84]:
salaries2['JobTitle'].value_counts().idxmax()

'Transit Operator'

In [ ]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees

In [86]:
trans= salaries2[salaries2['JobTitle']=='Transit Operator']
wage_trans=trans['HourlyWage']
mean_trans =wage_trans.mean()
std_error_trans = sem(wage_trans)
t_trans = (mean_trans - 35) / std_error_trans
t_trans

19.06515100205644

In [ ]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here:

In [87]:
wage_trans.shape

(2479,)

In [88]:
t.ppf(0.05,2478)

-1.6454687772470247

In [89]:
# Method 2: Use the p-value method.
# Your code here:
t.cdf(19.064990324906578,2478)

1.0

In [ ]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:

In [90]:
mean_trans

43.359564340460025

In [91]:
ttest_1samp(wage_trans,35,alternative='less')

Ttest_1sampResult(statistic=19.06515100205607, pvalue=1.0)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [ ]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:

In [93]:
wage=salaries2['HourlyWage']

In [94]:
from scipy.stats import norm
norm.interval(alpha=0.95,loc=np.mean(wage), scale=sem(wage))

/var/folders/vm/q28pb78130n5_lnd8k2t837h0000gn/T/ipykernel_40031/2625831091.py:2: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  norm.interval(alpha=0.95,loc=np.mean(wage), scale=sem(wage))

(49.79826789712602, 50.463174428223944)

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [ ]:
# Your code here:

In [95]:
hour_poli= salary_poli/(50*40)
norm.interval(alpha=0.95,loc=np.mean(hour_poli), scale=sem(hour_poli))

/var/folders/vm/q28pb78130n5_lnd8k2t837h0000gn/T/ipykernel_40031/2913394915.py:2: DeprecationWarning: Use of keyword argument `alpha` for method `interval` is deprecated. Use first positional argument or keyword argument `confidence` instead.
  norm.interval(alpha=0.95,loc=np.mean(hour_poli), scale=sem(hour_poli))

(72.9586542074945, 75.3903879177025)

# Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policemen" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [96]:
# Your code here: (Create the function)
def group (x):
    if ('Police' in x):
        return 'Policeman'
    elif ('Fire' in x):
        return 'Fireman'
    elif ('Med' in x):
        return 'Medical'
    elif ('Nurse' in x):
        return 'Medical'
    elif ('Attorney' in x):
        return 'Lawyer'
    else:
        return 'Other'

In [ ]:
# Your code here: (Apply the function)

In [97]:
salaries2['employee_group']=salaries2['JobTitle'].apply(group)

In [98]:
salaries2.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,HourlyWage,employee_group
0,110532,David Shinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,255.37,Other
1,110533,Amy P Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,239.83,Medical
2,110534,William J Coaker Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,218.11,Other
3,110535,Gregory P Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,209.01,Policeman
4,110536,Joanne M Hayes-White,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,208.72,Fireman

Determine how many "PT" and "FT" employess have all the employees groups.

In [ ]:
# Your code here: (Store the output dataframe into a new variable)

In [99]:
crosstab = pd.crosstab(salaries2['employee_group'], salaries2['Status']) 
crosstab

Status             FT     PT
employee_group
Fireman          1333    178
Lawyer            317    102
Medical          1028   2889
Other           18126  12245
Policeman        1530    371

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [ ]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:

In [100]:
from scipy.stats import chi2_contingency
chi2_contingency(crosstab)

(2676.642333711905,
 0.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

In [101]:
frequency = pd.DataFrame()

In [103]:
salaries2.shape

(38119, 14)

In [104]:
ft=1333+317+333+18821+1530
ft

22334

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"

In [105]:
firemen_ft = ((1333+178)/38119)*(22334/38119)*38119
firemen_ft

885.2979878800596

In [ ]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"

In [106]:
firemen_pt = ((1333+178)/38119)*((38119-22334)/38119)*38119
firemen_pt

625.7020121199403

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"

In [107]:
lawyers_ft = ((317+102)/38119)*(22334/38119)*38119
lawyers_ft

245.49295626852748

In [ ]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"

In [108]:
lawyers_pt = ((317+102)/38119)*((38119-22334)/38119)*38119
lawyers_pt

173.5070437314725

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"

In [109]:
medical_ft = ((1028+2889)/38119)*(22334/38119)*38119
medical_ft

2294.9783047823917

In [ ]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"

In [110]:
medical_pt = ((1028+2889)/38119)*((38119-22334)/38119)*38119
medical_pt

1622.021695217608

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"

In [111]:
other_ft = ((18126+12245)/38119)*(22334/38119)*38119
other_ft

17794.430966184842

In [ ]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"

In [112]:
other_pt = ((18126+12245)/38119)*((38119-22334)/38119)*38119
other_pt

12576.569033815158

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"

In [113]:
policemen_ft = ((1530+371)/38119)*(22334/38119)*38119
policemen_ft

1113.7997848841785

In [ ]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"

In [114]:
police_pt = ((1530+371)/38119)*((38119-22334)/38119)*38119
police_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [ ]:
# Your code here:

In [115]:
ft=[885.2979878800596,245.49295626852748,2294.9783047823917,17794.430966184842,1113.7997848841785]
pt=[625.7020121199403,173.5070437314725,1622.021695217608,12576.569033815158,787.2002151158215]

In [116]:
dic={'FT':ft,'PT':pt}
dic=pd.DataFrame(dic)
dic

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [ ]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-valueYea we 
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05

In [117]:
from scipy.stats import chi2_contingency
chi2_contingency(crosstab)

(2676.642333711905,
 0.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [17794.43096618, 12576.56903382],
        [ 1113.79978488,   787.20021512]]))

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function

In [ ]:
#yes, same